* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  overflow-x: hidden;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200&display=swap");

.first {
  display: flex;
  height: 4vh;
  background-color: #f5f5f5;
}

.top_bar {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  /* justify-content: space-between; */
  height: 7.5vh;
}

.last {
  display: flex;
  height: 4vh;
  background-color: #f5f5f5;
  border-bottom: solid 1px #e5e5e5;
}

.header_img {
  width: 12%;
  position: absolute;
  left: 5%;
  top: 2%;
  height: 12%;
}

.nav_links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  position: relative;
  left: 22%;
  width: 66%;
  justify-content: space-evenly;
}

.link {
  text-decoration: none;
  color: #ffffff;
}

.nav_link {
  font-size: 14px;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.login_links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  position: relative;
  left: 22%;
  width: 66%;
  bottom: 14%;
}

.links {
  font-size: 14px;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

#link1 {
  border: none;
  font-size: 14px;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: black;
}

#link2 {
  right: 62%;
  position: relative;
  border: none;
  font-size: 14px;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: black;
}

#link3 {
  right: 47%;
  position: relative;
  border: none;
  font-size: 14px;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: black;
}

#link4 {
  right: 35%;
  position: relative;
  border: none;
  font-size: 14px;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: black;
}

#link5 {
  right: 23%;
  position: relative;
  color: black;
}

.login_link {
  text-decoration: none;
  color: black;
}

#link6 {
  left: 12%;
  position: absolute;
}

#link6:hover,
#link6:focus {
  color: #a9a9a9;
  cursor: pointer;
}

#link7 {
  left: 21%;
  position: absolute;
  background-color: #f5f5f5;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  margin-top: -1.5%;
  width: 18%;
  display: flex;
  justify-content: center;
  border-radius: 35px;
  border-width: 2px;
}

#link7:hover,
#link7:focus {
  /* color: #a9a9a9; */
  cursor: pointer;
}

.fas {
  font-size: 16px;
  position: relative;
  left: 4%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 198%;
  right: -55%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.nav_link:hover .dropdown-content {
  display: block;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 198%;
  right: -55%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 97%;
}

.dropdown-content1 a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content1 a:hover {
  background-color: #ddd;
}

.nav_link:hover .dropdown-content1 {
  display: block;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 198%;
  right: -55%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 97%;
}

.dropdown-content2 a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content2 a:hover {
  background-color: #ddd;
}

.nav_link:hover .dropdown-content2 {
  display: block;
}

.dropdown-content3 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 198%;
  right: -55%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 97%;
}

.dropdown-content3 a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content3 a:hover {
  background-color: #ddd;
}

.nav_link:hover .dropdown-content3 {
  display: block;
}

.dropdown-content4 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 198%;
  right: -55%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 97%;
}

.dropdown-content4 a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content4 a:hover {
  background-color: #ddd;
}

.nav_link:hover .dropdown-content4 {
  display: block;
}

.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content1 {
  display: flex;
  width: 93vw;
  height: 85vh;
  margin-top: 1%;
  background-color: #f5f5f5;
}

.row1 {
  display: flex;
  flex-direction: column;
}

.img1 {
  width: 57%;
  height: 40%;
  border-radius: 10%;
  border: solid 1px black;
  position: relative;
  left: 9%;
  top: 5%;
}

.img2 {
  width: 21%;
  height: 39%;
  position: absolute;
  left: 4%;
  top: 42%;
}

.img3 {
  width: 50%;
  height: 34%;
  border-radius: 10%;
  border: solid 1px black;
  position: relative;
  left: 24%;
  top: 22%;
}

.img {
  width: 21%;
  height: 39%;
  position: absolute;
  left: 38%;
  top: 25%;
}

.row2 {
  display: flex;
  flex-direction: row;
}

.img4 {
  position: relative;
  right: 13%;
  /* bottom: 3%; */
  object-fit: cover;
}

.img5 {
  position: relative;
  right: 25%;
  object-fit: cover;
}

.row3 {
  display: flex;
  flex-direction: row;
}

.img6 {
  width: 19%;
  height: 40%;
  border-radius: 10%;
  border: solid 1px black;
  position: absolute;
  left: 75%;
  top: 22%;
  display: flex;
}

.img7 {
  width: 12%;
  height: 33%;
  border-radius: 10%;
  border: solid 1px black;
  position: absolute;
  left: 60%;
  top: 32%;
}

.label {
  font-family: "Titillium Web", sans-serif;
  font-size: 54px;
  position: absolute;
  text-transform: uppercase;
  top: 75%;
  width: 33%;
  right: 6%;
  font-weight: 900;
}

.shop_link {
  font-size: 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  border-radius: 35px;
  border-width: 2px;
  color: #fff;
  background-color: black;
  display: flex;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  width: 20%;
  justify-content: center;
  position: absolute;
  right: 23%;
  bottom: 8%;
}

/* LOGIN */

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 86%;
  padding: 15px;
  margin: 5px 0 22px 27px;
  display: inline-block;
  border: solid 1px #e5e5e5;
}

/* Add a background color when the inputs get focus */
input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Extra styles for the cancel button */
.signinbtn {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  background-color: black;
  width: 86%;
  padding: 15px;
  margin: 5px 0 22px 27px;
  border: none;
  border-radius: 5px;
  border-width: 2px;
}

/* Float cancel and signup buttons and add an equal width */
.signinbtn {
  float: left;
  /* width: 50%; */
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Displaying image and heading in the center */
.container_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Adding image to signin form */
.signin_img {
  width: 10%;
  margin-bottom: 6%;
}

/* Styling for signin form p */
.signin_heading {
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
  font-weight: 900;
  display: flex;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 6%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background: rgba(0, 0, 0, 0.6);
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10.5% auto 15% auto; /* 10.5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 24%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 38.5%;
  top: 25%;
  font-size: 35px;
  font-weight: bold;
  color: black;
}

.close:hover,
.close:focus {
  cursor: pointer;
}

.clearfix {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 86%;
  padding: 15px;
  margin: 5px 0 22px 27px;
  display: inline-block;
  border: solid 1px #e5e5e5;
}

/* REGISTER FORM */

/* Add a background color when the inputs get focus */
input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Extra styles for the cancel button */
.signupbtn {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  background-color: black;
  width: 86%;
  padding: 15px;
  margin: 5px 0 22px 27px;
  border: none;
  border-radius: 5px;
  border-width: 2px;
}

/* Float cancel and signup buttons and add an equal width */
.signupbtn {
  float: left;
  /* width: 50%; */
}

/* Add padding to container elements */
.signup_container {
  padding: 16px;
}

/* Displaying image and heading in the center */
.signup_container_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Adding image to signin form */
.signup_img {
  width: 10%;
  margin-bottom: 6%;
}

/* Styling for signin form p */
.signup_heading {
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
  font-weight: 900;
  display: flex;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 6%;
}

/* The Modal (background) */
.signup_modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background: rgba(0, 0, 0, 0.6);
  padding-top: 50px;
}

/* Modal Content/Box */
.signup_modal-content {
  background-color: #fefefe;
  margin: 5.5% auto 15% auto; /* 10.5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 24%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.signup_close {
  position: absolute;
  right: 38.5%;
  top: 16%;
  font-size: 35px;
  font-weight: bold;
  color: black;
}

.signup_close:hover,
.signup_close:focus {
  cursor: pointer;
}

.signup_clearfix {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Clear floats */
.signup_clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.content2 {
  display: flex;
  width: 93vw;
  height: 71vh;
  margin-top: 8%;
  /* background-color: #f5f5f5; */
}

.content2_heading {
  position: absolute;
  left: 3%;
  bottom: -15%;
  font-size: 28px;
  font-weight: 100;
  text-transform: capitalize;
  font-family: "Barlow", sans-serif;
}

.slideshow {
  /* width: 200vw; */
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
}

.img10 {
  height: 84%;
}

.img11 {
  height: 84%;
}

.img12 {
  height: 84%;
}

.img13 {
  height: 84%;
}

.product_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  font-family: "Barlow", sans-serif;
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 100;
}

.subtitle {
  font-family: "Barlow", sans-serif;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 100;
  color: #8d8d8d;
}

.price {
  font-family: "Barlow", sans-serif;
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 100;
  margin-right: 2%;
}

.content3 {
  display: flex;
  width: 93vw;
  height: 30vh;
  margin-top: 8%;
  background-color: #f5f5f5;
  margin-bottom: 6%;
}

.content3_heading {
  position: absolute;
  left: 3%;
  bottom: -101%;
  font-size: 28px;
  font-weight: 100;
  text-transform: capitalize;
  font-family: "Barlow", sans-serif;
}

.images {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.img14 {
  width: 100%;
  object-fit: cover;
}

.content_label {
  position: absolute;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  font-size: 85px;
  left: 5%;
  margin-top: 2%;
  width: 41%;
  color: #fff;
}

.join_link {
  font-size: 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  border-radius: 35px;
  border-width: 2px;
  color: black;
  background-color: #fff;
  display: flex;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  width: 20%;
  justify-content: center;
  position: absolute;
  right: 9%;
  bottom: 13%;
}

footer {
  width: 100vw;
  height: 50vh;
  background-color: #111111;
}

.slogan {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  width: 46%;
  margin-left: 3.3%;
  font-size: 20px;
}

.footer_slogan {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_info {
  display: flex;
  flex-direction: row;
}

.part1 {
  display: flex;
  flex-direction: column;
}

.part2 {
  display: flex;
  flex-direction: column;
}

.info {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
}
