* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f4863;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.image {
  display: flex;
  justify-content: center;
  align-content: center;
}

img {
  width: 150px;
  height: 70px;
  margin-top: 5%;
  margin-bottom: 2%;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_container {
  background-color: #ffffff;
  width: 30vw;
  height: 56vh;
  display: flex;
  flex-direction: column;
  border-radius: 1%;
}

.header {
  position: relative;
  top: 4%;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}

hr {
  width: 8%;
  position: absolute;
  left: 20%;
  color: #00a2e0;
  top: 125%;
}

.login_form {
  position: relative;
  top: 19%;
}

.login_info1 {
  display: flex;
  flex-direction: column;
}

.login_info2 {
  display: flex;
  flex-direction: column;
  margin-top: 7%;
}

#username {
  width: 86%;
  padding-top: 3%;
  padding-bottom: 3%;
}

#password {
  width: 86%;
  padding-top: 3%;
  padding-bottom: 3%;
}

#button {
  position: relative;
  left: 7%;
  margin-top: 9%;
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
}

.login_label {
  color: #aeafb2;
  position: relative;
  left: 7%;
  margin-bottom: 4%;
}

.login_input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_button {
  text-decoration: none;
  color: #ffffff;
  background-color: #00a2e0;
  width: 38%;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
}

.cancel_button {
  text-decoration: none;
  color: #bd6561;
  background-color: #ffffff;
  width: 38%;
  padding-top: 3%;
  padding-bottom: 3%;
  border: solid 1px #bd6561;
  margin-left: 10%;
  text-align: center;
}
